* {
  color: white;
}
#div1 {
  height: 340px;
  display: flex;
  justify-content: space-between;
}
.dates {
  width: 200px;
  text-align: center;
  justify-content: flex-end;
  z-index: 5;
}
button {
  border: 1px solid gold;
  background-color: black;
  color: red;
}
.dropZones {
  display: flex;
  flex-direction: column-reverse;
  height: 340px;
  width: 202.8px;
  border: 1px solid gold;
}
body {
  background-color: rgb(5, 5, 5);
}
h1,
h2,
h3,
h4 {
  color: white;
}
nav {
  background-color: black;
}
.logo {
  font-family: "Kaushan Script", cursive;
  font-size: 48px;
  justify-self: center;
}
.index {
  color: white;
}
.onDeck {
  display: flex;
}
.posters {
  width: 182px;
  margin: auto;
}
.datebox {
  width: 25%;
}
.titles {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-self: center;
  width: 182px;
  padding: auto;
  margin: auto;
  height: 45px;
}
.main-gallery {
  width: 100%;
  margin: auto;
  padding: auto;
}
.gallery-cell {
  margin-left: 20px;
  width: 182px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 16%;
  border: 1px solid gold;
  margin: 1px;
  background-color: black;
}
