<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1>Add A Movie</h1>
      <h4>Please use imdb for all entry fields (especially the picture URL). If you want to watch a movie, do the work guys. Thanks</h4>
      <form action="/movies" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" required placeholder="The Bourne Identity"/>
        <label for="cover">Cover Art:</label>
        <!-- how do i make it check it's a valid image -->
        <input type="text" name="cover" required placeholder="https://upload.wikimedia.org/wikipedia/en/a/ae/BourneIdentityfilm.jpg"/>
        <label for="synopsis">Synopsis:</label><br/>
        <input type="text" name="synopsis" required /><br/>
        <br/>
        <br>
        <input class="button" type="submit" value="Submit">
      <form>
    </div>
  </body>
</html>
